/* IMPORTS */
@import "tailwindcss";
@import "@uswds/uswds/css/uswds.min.css";

/* Fix USWDS global input focus styles TEMPORARY */
button:not([disabled]):focus,
input:not([disabled]):focus {
  outline: none;
  box-shadow: none;
}

/* FONTS */
* {
  font-family: "Public Sans", sans-serif;
}

/* FINAL US WEB COLORS */
:root {
  --primary: #005ea2;
  --primary-lighter: #d9e8f6;
  --primary-darker: #162e51;
  --red-light: #f4e3db;
  --green: #538200;
  --green-light: #b8d293;
  --red-warm-vivid: #d54309;
  --orange-20: #f3bf90;
  --gray-cool-60: #565c65;
  --gray-90: #171717;
}

/* KENBURNS */
@keyframes kenburns {
  0% {
    transform: translateX(0%) scale(1);
  }
  100% {
    transform: translateX(0%) scale(1.08);
  }
}

.slide-active {
  animation: kenburns 5s ease-in-out forwards;
}
